/*****harshall*****/
/* #harshall(a9823ff3dfbdaa29) #css starts  */
.headera9823ff3dfbdaa29 .navbar .nav-link:hover,
.headera9823ff3dfbdaa29 .navbar .nav-link:focus {
    color: #18B9E9
}
/* #harshall(a9823ff3dfbdaa29) #css ends  */
/*****harshall*****/

/*****agni*****/
/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .badge{
    padding: 2.5rem 0
}
.aboutcded716dce36a6e8 .badge{
    display: none
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color:#18B9E9;
    border-radius: 0px
}
.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 20px
}
/* #agni(cded716dce36a6e8) #css ends  */
/*****agni*****/

/*****sammy*****/
    /* #sammy(ebfcf165e4ae5852) #css starts  */
    .serviceebfcf165e4ae5852 {
        padding: 2.5rem 0
    }

    .serviceebfcf165e4ae5852 h2 {
        font-size: 32px;
    }
    /* #sammy(ebfcf165e4ae5852) #css ends  */
/*****sammy*****/

/*****frankie*****/
    /* #frankie(frankiepo48kr6e3hi) #css starts  */
    .frankiepo48kr6e3hi{
        padding: 2.5rem 0
    }
    .frankiepo48kr6e3hi h1{
        font-size: 32px
    }
    .frankiepo48kr6e3hi a {
        color: #1f2d3d;
        font-size: 20px;
        font-weight: 600
    }
    .frankiepo48kr6e3hi a:hover {
        color: #18B9E9;
    }
    .frankiepo48kr6e3hi h3 {
        margin-top: 10px
    }
    /* #frankie(frankiepo48kr6e3hi) #css ends  */
/*****frankie*****/

/*****tracey*****/
    /* #tracey(testimonialcohi0ajeo7e) #css starts  */
    .testimonialcohi0ajeo7e{
        padding: 2.5rem 0
    }
    .testimonialcohi0ajeo7e .lead {
        font-size: 20px
    }
    .formftfyiyue44r a{
        color: #18B9E9
    }
    .formftfyiyue44r .btn-outline-secondary {
        background-color: #18B9E9;
        border-color: #18B9E9
    }
    .formftfyiyue44r .btn-outline-secondary:hover {
        background-color: #18B9E9;
        border-color: #18B9E9
    }
    .formftfyiyue44r .fdb-block {
        padding: 2.5rem 0
    }
    /* #tracey(testimonialcohi0ajeo7e) #css ends  */
/*****tracey*****/

/*****faki*****/
/* #faki(formftfyiyue44r) #css starts */
.formftfyiyue44r h1{
    font-size: 32px;
}
.formftfyiyue44r a {
    color: #1f2d3d;
    font-weight: 600
}
.formftfyiyue44r .btn-outline-secondary {
    border-color: #18B9E9;
    background-color: #18B9E9;
    border-radius: 0px;
    color: #fff;
}
.formftfyiyue44r .btn-outline-secondary:hover,
.formftfyiyue44r .btn-outline-secondary:not(:disabled):not(.disabled):active{
    color: #fff;
    border-color: #18B9E9;
    background-color: #18B9E9
}
/* #faki(formftfyiyue44r) #css starts */
/*****faki*****/

/*****foshka*****/
/* #foshka(foshkaftin8f8zeg1) #css starts */
.foshkaftin8f8zeg1 .fdb-block {
    padding: 2.5rem 0
 }
 .foshkaftin8f8zeg1 h1{ 
        font-size: 32px
 }

/* #foshka(foshkaftin8f8zeg1) #css starts */
/*****foshka*****/

/*****finger*****/
    /* #finger(fingerftg80mqpach) #css starts */
    .fingerftg80mqpach a {
        color: #18B9E9 !important
    }
    .fingerftg80mqpach a:hover {
        color: #18B9E9 !important
    }
    /* #finger(fingerftg80mqpach) #css ends */
/*****finger*****/